*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(47, 0, 88);
    background: linear-gradient(rgb(255, 230, 230),rgb(255, 221, 199));
    padding: 1rem;
}

h1 {
    padding: 1rem;
    margin: 1rem auto;
}

.sub-title {
     padding: 1rem;
    margin: 1rem auto;
}

section {
    background: linear-gradient(rgb(255, 200, 200),rgb(255, 221, 199));
    border: 1px solid #272727;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem auto;
}

footer{
    padding: 1rem;
    margin: 1rem auto;
}